<header>
   <div class="logo">AR.CHI</div>
   <div class="translate">
      <span>
         <button class="translateButton">rus</button>
         <button class="translateButton">eng</button>
      </span>
   </div>
   <nav class="menu">
      <li><a href="#">About us</a></li>
      <li><a href="#">Architecture</a></li>
      <li><a href="#">Interior</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Shop</a></li>

      <li><a href="#"><img src="./img/search.png" class="search"></a></li>
      <li id="mobNav">
         <a class="menu-triger" href="#"><img class="mainmenubtn" src="./img/menu.png" /></a>
         <div class="menu-popup">
            <a class="menu-close" href="#">Close</a>
            <div class="menuItemBlock">
               <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#" class='interiorImg hoverImg'>Interior<span><img
                              src="./img/interiorImg.png" /></span></a>
                  </li>
                  <li><a href="#" class='architectureImg hoverImg'>Architecture<span><img
                              src="./img/architectureImg.png" /></span></a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Shop</a></li>
               </ul>
               <div class="footer-items">
                  <a href="#">Facebook</a>
                  <a href="#">Vkontakte</a>
                  <a href="#">Behance</a>
               </div>
            </div>
         </div>
      </li>
   </nav>
</header>