<div class="slideText">
    <div>
        <h4>Concept studio</h4>
        <p>In our best design works, the Customer will find interiors in various styles, from strict
            modern minimalism to luxurious, richly decorated, from inexpensive, budgetary solutions to
            elite and unique.</p>
    </div>
    <div>
        <h4>Everyday i’m </h4>
        <p>In our best design works, the Customer will find interiors in various styles, from strict
            modern minimalism to luxurious, richly decorated, from inexpensive, budgetary solutions to
            elite and unique.</p>
    </div>
</div>
<div class="sliderButtons">
    <button class="readButton">Read More</button>
    <a class="viewButton" href="#">View project</a>
</div>